<div class="jumbotron">
  <h1 class="text-center">Events promotion starts with <br> <span class="eventsboard">Eventboards</span></h1>
  <h4 class="text-center">Proffessionnal, conferences, workshops, training events, seminars, private events, music &amp; concerts, fund raising &amp; donations, free events &amp; more</h4>
  <h4 class="text-center">
    <%= link_to "Start your Event", new_event_path, class: "new start-event" %> <%= link_to "Discover Events", events_path, class: "edit discover-event" %>
  </h4>

</div>
<h2 class="text-center tag-line">
  Organization and promoting events can be very demanding. We help you make it easy.
</h2>
<hr>